<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST" class="form-container">
    <label>Email:</label><br />
    <input type="email" name="email" required /><br />
    <label>Password:</label><br />
    <input type="password" name="password" required /><br />
    <button type="submit">Login</button><br/>
    <p>Don't have an account? <a href="/register">Register</a></p>
  </form>

  
</body>
</html>
